<div>
  <script
    type="text/javascript"
    src="https://unpkg.com/dangerous-html@0.1.12/dist/default/lib.umd.js"
  ></script>
  <link href="./cdharani.css" rel="stylesheet" />
  <div class="cdharani-container">
    <div class="cdharani-container1">
      <div class="cdharani-image">
        <img
          alt="image"
          src="https://user-images.githubusercontent.com/127581878/243054175-827447b7-71df-4431-8cd1-82764cc77100.png"
          class="cdharani-image01"
        />
        <img
          alt="image"
          src="https://user-images.githubusercontent.com/127581878/243058286-892bd481-a0a2-47fb-b52e-2faa298ee3f1.png"
          class="cdharani-image02"
        />
      </div>
      <div class="cdharani-image03">
        <div class="cdharani-image04">
          <video
            src="https://user-images.githubusercontent.com/127581878/239954423-8e3c241d-b6c6-4238-8aea-397d525154aa.jpg"
            loop
            poster="https://user-images.githubusercontent.com/127581878/239954423-8e3c241d-b6c6-4238-8aea-397d525154aa.jpg"
            autoplay
            class="cdharani-video"
          ></video>
          <img
            alt="image"
            src="https://user-images.githubusercontent.com/127581878/239981772-a38f1f19-b6a3-420a-b7d5-7b77506d18b5.png"
            class="cdharani-image05"
          />
        </div>
      </div>
      <video
        src="https://user-images.githubusercontent.com/127581878/239899819-9916384e-3316-424d-b1a4-6129de5a44c6.jpg"
        loop
        poster="https://user-images.githubusercontent.com/127581878/239949223-18122d2f-1c0b-49e5-b0e7-cef2fe690576.jpg"
        autoplay
        class="cdharani-video1"
      ></video>
      <section class="cdharani-hero">
        <div class="cdharani-main">
          <div class="cdharani-content">
            <header data-thq="thq-navbar" class="cdharani-navbar">
              <div data-thq="thq-burger-menu" class="cdharani-menu">
                <button class="cdharani-hamburger button">
                  <svg viewBox="0 0 1024 1024" class="cdharani-icon">
                    <path
                      d="M128 554.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 298.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 810.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"
                    ></path>
                  </svg>
                </button>
              </div>
              <div data-thq="thq-mobile-menu" class="cdharani-mobile-menu">
                <div
                  data-thq="thq-mobile-menu-nav"
                  data-role="Nav"
                  class="cdharani-nav"
                >
                  <div class="cdharani-tangible-logo">
                    <div data-thq="thq-close-menu" class="cdharani-menu-close">
                      <svg viewBox="0 0 1024 1024" class="cdharani-icon2">
                        <path
                          d="M810 274l-238 238 238 238-60 60-238-238-238 238-60-60 238-238-238-238 60-60 238 238 238-238z"
                        ></path>
                      </svg>
                    </div>
                  </div>
                  <nav
                    data-thq="thq-mobile-menu-nav-links"
                    data-role="Nav"
                    class="cdharani-nav1"
                  >
                    <div
                      data-thq="thq-dropdown"
                      class="cdharani-desaka list-item"
                    >
                      <div
                        data-thq="thq-dropdown-toggle"
                        class="cdharani-dropdown-toggle"
                      >
                        <span class="cdharani-title-reference">
                          <span>DEŚAKA</span>
                        </span>
                        <div
                          data-thq="thq-dropdown-arrow"
                          class="cdharani-dropdown-arrow"
                        ></div>
                      </div>
                      <ul
                        data-thq="thq-dropdown-list"
                        class="cdharani-dropdown-list"
                      >
                        <li
                          data-thq="thq-dropdown"
                          class="cdharani-karuna list-item"
                        ></li>
                        <li
                          data-thq="thq-dropdown"
                          class="cdharani-delu list-item"
                        ></li>
                      </ul>
                    </div>
                    <div
                      data-thq="thq-dropdown"
                      class="cdharani-courses list-item"
                    >
                      <div
                        data-thq="thq-dropdown-toggle"
                        class="cdharani-dropdown-toggle01"
                      >
                        <span class="cdharani-title-reference1">
                          <span><span>窮極身兆</span></span>
                          <br />
                        </span>
                        <div
                          data-thq="thq-dropdown-arrow"
                          class="cdharani-dropdown-arrow01"
                        ></div>
                      </div>
                      <ul
                        data-thq="thq-dropdown-list"
                        class="cdharani-dropdown-list01"
                      >
                        <li
                          data-thq="thq-dropdown"
                          class="cdharani-karuna1 list-item"
                        ></li>
                        <li
                          data-thq="thq-dropdown"
                          class="cdharani-delu1 list-item"
                        ></li>
                      </ul>
                    </div>
                    <div
                      data-thq="thq-dropdown"
                      class="cdharani-blog list-item"
                    >
                      <div
                        data-thq="thq-dropdown-toggle"
                        class="cdharani-dropdown-toggle02"
                      >
                        <span class="cdharani-title-reference2">
                          <span>BLOG</span>
                        </span>
                        <div
                          data-thq="thq-dropdown-arrow"
                          class="cdharani-dropdown-arrow02"
                        ></div>
                      </div>
                      <ul
                        data-thq="thq-dropdown-list"
                        class="cdharani-dropdown-list02"
                      >
                        <li
                          data-thq="thq-dropdown"
                          class="cdharani-karuna2 list-item"
                        ></li>
                        <li
                          data-thq="thq-dropdown"
                          class="cdharani-delu2 list-item"
                        ></li>
                      </ul>
                    </div>
                    <a
                      href="https://form.jotform.com/231088162261451"
                      target="_blank"
                      rel="noreferrer noopener"
                      class="cdharani-link"
                    >
                      <div
                        data-thq="thq-dropdown"
                        class="cdharani-contact list-item"
                      >
                        <div
                          data-thq="thq-dropdown-toggle"
                          class="cdharani-dropdown-toggle03"
                        >
                          <span class="cdharani-title-reference3">
                            <span>CONTACT</span>
                          </span>
                          <div
                            data-thq="thq-dropdown-arrow"
                            class="cdharani-dropdown-arrow03"
                          ></div>
                        </div>
                        <ul
                          data-thq="thq-dropdown-list"
                          class="cdharani-dropdown-list03"
                        >
                          <li
                            data-thq="thq-dropdown"
                            class="cdharani-karuna3 list-item"
                          ></li>
                          <li
                            data-thq="thq-dropdown"
                            class="cdharani-delu3 list-item"
                          ></li>
                        </ul>
                      </div>
                    </a>
                    <div
                      data-thq="thq-dropdown"
                      class="cdharani-language list-item"
                    >
                      <div
                        data-thq="thq-dropdown-toggle"
                        class="cdharani-dropdown-toggle04"
                      >
                        <span class="cdharani-english">
                          <span>English</span>
                        </span>
                        <div
                          data-thq="thq-dropdown-arrow"
                          class="cdharani-dropdown-arrow04"
                        ></div>
                      </div>
                      <ul
                        data-thq="thq-dropdown-list"
                        class="cdharani-dropdown-list04"
                      >
                        <li
                          data-thq="thq-dropdown"
                          class="cdharani-dropdown list-item"
                        >
                          <div
                            data-thq="thq-dropdown-toggle"
                            class="cdharani-dropdown-toggle05"
                          >
                            <a
                              href="https://tangible.sva.us/index-ct.html"
                              target="_blank"
                              rel="noreferrer noopener"
                              class="cdharani-chn-tw"
                            >
                              <span>繁體中文</span>
                            </a>
                          </div>
                        </li>
                        <li
                          data-thq="thq-dropdown"
                          class="cdharani-dropdown1 list-item"
                        >
                          <div
                            data-thq="thq-dropdown-toggle"
                            class="cdharani-dropdown-toggle06"
                          >
                            <a
                              href="https://tangible.sva.us/index-cs.html"
                              target="_blank"
                              rel="noreferrer noopener"
                              class="cdharani-chn-cn"
                            >
                              <span>简体中文</span>
                            </a>
                          </div>
                        </li>
                        <li
                          data-thq="thq-dropdown"
                          class="cdharani-dropdown2 list-item"
                        >
                          <div
                            data-thq="thq-dropdown-toggle"
                            class="cdharani-dropdown-toggle07"
                          >
                            <a
                              href="https://tangible.sva.us/index-vn.html"
                              target="_blank"
                              rel="noreferrer noopener"
                              class="cdharani-vn"
                            >
                              <span>Tiếng Việt</span>
                            </a>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </nav>
                </div>
              </div>
            </header>
            <div class="cdharani-video2">
              <video
                src="https://user-images.githubusercontent.com/127581878/239960204-07320ad4-12b6-44f8-aef5-788af998dd87.png"
                loop
                poster="https://user-images.githubusercontent.com/127581878/239960204-07320ad4-12b6-44f8-aef5-788af998dd87.png"
                autoplay
                class="cdharani-video3"
              ></video>
              <video
                src="https://user-images.githubusercontent.com/127581878/239975031-3be130f9-2c42-40ea-81d3-dd5383dcba07.png"
                loop
                poster="https://user-images.githubusercontent.com/127581878/239975031-3be130f9-2c42-40ea-81d3-dd5383dcba07.png"
                autoplay
                class="cdharani-video4"
              ></video>
              <video
                src="https://user-images.githubusercontent.com/127581878/239934807-d82dd975-74bb-4b41-a15d-1556c562a3c3.jpg"
                loop
                autoplay
                class="cdharani-video5"
              ></video>
            </div>
            <p class="cdharani-caption"><span> </span></p>
          </div>
          <header data-thq="thq-navbar" class="cdharani-navbar1">
            <a
              href="https://desaka.org/Kalyana-mitra.html"
              target="_blank"
              rel="noreferrer noopener"
              class="cdharani-link01"
            >
              <span>善知識</span>
            </a>
            <a
              href="https://desaka.org/Kalyana-mitra.html"
              target="_blank"
              rel="noreferrer noopener"
              class="cdharani-link02"
            >
              <span>咒陀羅尼</span>
            </a>
            <a
              href="https://desaka.org/Kalyana-mitra.html"
              target="_blank"
              rel="noreferrer noopener"
              class="cdharani-link03"
            >
              <span>本來面目</span>
            </a>
            <a
              href="https://desaka.org/Kalyana-mitra.html"
              target="_blank"
              rel="noreferrer noopener"
              class="cdharani-link04"
            >
              <span>光影</span>
            </a>
            <a
              href="https://desaka.org/Kalyana-mitra.html"
              target="_blank"
              rel="noreferrer noopener"
              class="cdharani-link05"
            >
              <span>鳴語</span>
            </a>
            <a
              href="https://desaka.org/Kalyana-mitra.html"
              target="_blank"
              rel="noreferrer noopener"
              class="cdharani-link06"
            >
              <span>梵網</span>
            </a>
            <a
              href="https://desaka.org/Kalyana-mitra.html"
              target="_blank"
              rel="noreferrer noopener"
              class="cdharani-link07"
            >
              <span>錄雜</span>
            </a>
            <div data-thq="thq-burger-menu" class="cdharani-menu1">
              <button class="cdharani-hamburger1 button">
                <svg viewBox="0 0 1024 1024" class="cdharani-icon4">
                  <path
                    d="M128 554.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 298.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 810.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"
                  ></path>
                </svg>
              </button>
              <span class="cdharani-home"><span>HOME</span></span>
            </div>
            <div data-thq="thq-mobile-menu" class="cdharani-mobile-menu1">
              <div
                data-thq="thq-mobile-menu-nav"
                data-role="Nav"
                class="cdharani-nav2"
              >
                <div class="cdharani-tangible-logo1">
                  <div data-thq="thq-close-menu" class="cdharani-menu-close1">
                    <svg viewBox="0 0 1024 1024" class="cdharani-icon6">
                      <path
                        d="M810 274l-238 238 238 238-60 60-238-238-238 238-60-60 238-238-238-238 60-60 238 238 238-238z"
                      ></path>
                    </svg>
                  </div>
                </div>
                <nav
                  data-thq="thq-mobile-menu-nav-links"
                  data-role="Nav"
                  class="cdharani-nav3"
                >
                  <div
                    data-thq="thq-dropdown"
                    class="cdharani-desaka1 list-item"
                  >
                    <div
                      data-thq="thq-dropdown-toggle"
                      class="cdharani-dropdown-toggle08"
                    >
                      <span class="cdharani-title-reference4">
                        <span>DEŚAKA</span>
                      </span>
                      <div
                        data-thq="thq-dropdown-arrow"
                        class="cdharani-dropdown-arrow05"
                      ></div>
                    </div>
                    <ul
                      data-thq="thq-dropdown-list"
                      class="cdharani-dropdown-list05"
                    >
                      <li
                        data-thq="thq-dropdown"
                        class="cdharani-karuna4 list-item"
                      ></li>
                      <li
                        data-thq="thq-dropdown"
                        class="cdharani-delu4 list-item"
                      ></li>
                    </ul>
                  </div>
                  <div
                    data-thq="thq-dropdown"
                    class="cdharani-courses1 list-item"
                  >
                    <div
                      data-thq="thq-dropdown-toggle"
                      class="cdharani-dropdown-toggle09"
                    >
                      <span class="cdharani-title-reference5">
                        <span>COURSES</span>
                      </span>
                      <div
                        data-thq="thq-dropdown-arrow"
                        class="cdharani-dropdown-arrow06"
                      ></div>
                    </div>
                    <ul
                      data-thq="thq-dropdown-list"
                      class="cdharani-dropdown-list06"
                    >
                      <li
                        data-thq="thq-dropdown"
                        class="cdharani-karuna5 list-item"
                      ></li>
                      <li
                        data-thq="thq-dropdown"
                        class="cdharani-delu5 list-item"
                      ></li>
                    </ul>
                  </div>
                  <div data-thq="thq-dropdown" class="cdharani-blog1 list-item">
                    <div
                      data-thq="thq-dropdown-toggle"
                      class="cdharani-dropdown-toggle10"
                    >
                      <span class="cdharani-title-reference6">
                        <span>BLOG</span>
                      </span>
                      <div
                        data-thq="thq-dropdown-arrow"
                        class="cdharani-dropdown-arrow07"
                      ></div>
                    </div>
                    <ul
                      data-thq="thq-dropdown-list"
                      class="cdharani-dropdown-list07"
                    >
                      <li
                        data-thq="thq-dropdown"
                        class="cdharani-karuna6 list-item"
                      ></li>
                      <li
                        data-thq="thq-dropdown"
                        class="cdharani-delu6 list-item"
                      ></li>
                    </ul>
                  </div>
                  <a
                    href="https://form.jotform.com/231088162261451"
                    target="_blank"
                    rel="noreferrer noopener"
                    class="cdharani-link08"
                  >
                    <div
                      data-thq="thq-dropdown"
                      class="cdharani-contact1 list-item"
                    >
                      <div
                        data-thq="thq-dropdown-toggle"
                        class="cdharani-dropdown-toggle11"
                      >
                        <span class="cdharani-title-reference7">
                          <span>CONTACT</span>
                        </span>
                        <div
                          data-thq="thq-dropdown-arrow"
                          class="cdharani-dropdown-arrow08"
                        ></div>
                      </div>
                      <ul
                        data-thq="thq-dropdown-list"
                        class="cdharani-dropdown-list08"
                      >
                        <li
                          data-thq="thq-dropdown"
                          class="cdharani-karuna7 list-item"
                        ></li>
                        <li
                          data-thq="thq-dropdown"
                          class="cdharani-delu7 list-item"
                        ></li>
                      </ul>
                    </div>
                  </a>
                  <div
                    data-thq="thq-dropdown"
                    class="cdharani-language1 list-item"
                  >
                    <div
                      data-thq="thq-dropdown-toggle"
                      class="cdharani-dropdown-toggle12"
                    >
                      <span class="cdharani-english1">
                        <span>English</span>
                      </span>
                      <div
                        data-thq="thq-dropdown-arrow"
                        class="cdharani-dropdown-arrow09"
                      ></div>
                    </div>
                    <ul
                      data-thq="thq-dropdown-list"
                      class="cdharani-dropdown-list09"
                    >
                      <li
                        data-thq="thq-dropdown"
                        class="cdharani-dropdown3 list-item"
                      >
                        <div
                          data-thq="thq-dropdown-toggle"
                          class="cdharani-dropdown-toggle13"
                        >
                          <a
                            href="https://tangible.sva.us/index-ct.html"
                            target="_blank"
                            rel="noreferrer noopener"
                            class="cdharani-chn-tw1"
                          >
                            <span>繁體中文</span>
                          </a>
                        </div>
                      </li>
                      <li
                        data-thq="thq-dropdown"
                        class="cdharani-dropdown4 list-item"
                      >
                        <div
                          data-thq="thq-dropdown-toggle"
                          class="cdharani-dropdown-toggle14"
                        >
                          <a
                            href="https://tangible.sva.us/index-cs.html"
                            target="_blank"
                            rel="noreferrer noopener"
                            class="cdharani-chn-cn1"
                          >
                            <span>简体中文</span>
                          </a>
                        </div>
                      </li>
                      <li
                        data-thq="thq-dropdown"
                        class="cdharani-dropdown5 list-item"
                      >
                        <div
                          data-thq="thq-dropdown-toggle"
                          class="cdharani-dropdown-toggle15"
                        >
                          <a
                            href="https://tangible.sva.us/index-vn.html"
                            target="_blank"
                            rel="noreferrer noopener"
                            class="cdharani-vn1"
                          >
                            <span>Tiếng Việt</span>
                          </a>
                        </div>
                      </li>
                    </ul>
                  </div>
                </nav>
              </div>
            </div>
          </header>
        </div>
      </section>
      <section class="cdharani-content01">
        <video
          loop
          poster="https://user-images.githubusercontent.com/127581878/243089273-823aef72-7b51-43ca-810d-890f375cc681.png"
          autoplay
          class="cdharani-video6"
        ></video>
        <p class="cdharani-quote">
          <span><span>音聲、能量、禪修，</span></span>
          <br />
          <span>
            <span>借由音聲啟發能量，透過唱持佛菩薩的心咒來修持淨化脈輪，</span>
          </span>
          <br />
          <span><span>在能量的升降開合之中，契入禪修</span></span>
          <span><span>。</span></span>
          <br />
        </p>
        <p class="cdharani-quote1">
          <span><span>手印</span></span>
          <br />
          <span>
            <span>
              我個人的體驗，各種不同的手印也都是接收、受資訊能量的一種方式
            </span>
          </span>
          <br />
          <span>
            <span>
              能量可能來自不同空間、次元，有不同的流動方向及波動，手印就類似一個多方向性的接收器，可同時接收所需的多種能量，在掌心凝聚成丹，就像中醫複方練藥一樣，手印會隨不同能量的轉移，迅速變換，這是我個人的方式，也許因人而有不同。
            </span>
          </span>
          <br />
          <span>
            <span>
              所以我幫人治療或灌頂時，常會結手印，以我為媒介，直接給予。持誦時則轉輪，像漩渦式把能量拉入，以聲做藥。
            </span>
          </span>
          <br />
          <span>
            <span>
              惟並非所有能量皆可隨意或隨時取得，就像我們看到的星光，也是來自百千萬光年前一樣，但看機緣。
            </span>
          </span>
          <br />
          <span><span>轉輪是何意? 輪脈 一般說七重輪，其實是更多</span></span>
          <br />
          <span>
            <span>
              全身皆可成環 七重只是重要七穴
              那豈非無量無邊?修行便是讓自己保持覺知和靜心，走心了，便再拉回就是
            </span>
          </span>
          <br />
          <br />
          <span>
            <span>
              這是我每日持誦的經咒，時間約1個小時，是我啟動七重輪能量所持誦，聲音是種能量，我以聲為藥，希望能量磁場與你能夠產生共鳴，助你淨心、養神、補氣。
            </span>
          </span>
          <br />
          <span><span>聆聽時最好用耳機或靠近耳朵效果可能好些。</span></span>
          <br />
          <span><span>內容包含</span></span>
          <br />
          <span><span>三字明心咒 （眉心輪、喉輪、肚臍輪）</span></span>
          <br />
          <span><span>釋迦牟尼佛心咒（心輪）</span></span>
          <br />
          <span><span>藥師佛心咒（喉輪）</span></span>
          <br />
          <span><span>觀世音菩薩心咒（眉心輪）</span></span>
          <br />
          <span>
            <span>文殊菩薩心咒（頭頂輪，最後一字音為“諦”用於活化大腦）</span>
          </span>
          <br />
          <span><span>白度母心咒（前半段天眼，後半段肚臍輪）</span></span>
          <br />
          <span><span>綠度母心咒（海底輪）</span></span>
          <br />
          <span><span>金剛手菩薩心咒（命門輪）</span></span>
          <br />
          <span>
            <span>
              般若波羅蜜多心經（心輪）及心咒（海底輪、肚臍輪+命門輪、心輪、喉輪、眉心輪、頭頂輪）
            </span>
          </span>
          <br />
          <span>
            <span>
              金剛薩埵百字明（心輪）及心咒（眉心輪、喉輪、心輪、肚臍輪）
            </span>
          </span>
          <br />
          <span>
            <span>
              這是我持誦的方法，你可將意念放於該處，亦可放鬆無需在意，只需淨心聆聽，能量會自動引導。
            </span>
          </span>
          <br />
          <span>
            <span>
              合轉命門輪跟肚臍輪，可併成太極輪
              肚臍輪往腰等高處即命門，為人一重要大穴
            </span>
          </span>
          <br />
          <span>
            <span>
              輪可垂直或平行轉動，亦會順時或逆時鐘轉，吸取能量或排除病氣
              輪是不易轉動的
              能量流經阻塞的穴位在沖的過程會有不適感，暢通即會改善
            </span>
          </span>
          <br />
          <span>
            <span>
              原理跟灌頂同，因你在遠方，我用特殊的方法，把能量寓於經咒聲中，希望能受用
            </span>
          </span>
          <br />
          <span>
            <span>
              如果你覺得能量一直滯於頭部，可用意念或將手置放於其他輪脈處，以引導能量往下流動，不要執著於該處，日後再點慢慢去紓解
            </span>
          </span>
          <br />
          <br />
          <span>
            <span>
              金剛手菩薩心咒，是我最近為一位在醫院照顧家人的好朋友持金剛杵所誦，其能量能伏惡、祛病邪護身，新冠疫情期間我也常持此咒，一併傳給你
            </span>
          </span>
          <br />
          <br />
          <span><span>這個版本可能比較適合你靜坐或工作時聆聽</span></span>
          <br />
          <br />
          <span>
            <span>
              我持誦的經咒就像一把鑰匙跟電台調頻器一樣，能打開那個空間的門，接收那裡的能量磁場，並產生共振與共鳴。只要聆聽者心存慈悲，便能一同感沐那股能量
            </span>
          </span>
          <br />
          <br />
          <span>
            <span>
              這是另一個高頻空靈的版本，外加一小段我轉動金剛杵的唱誦。每次持誦時會因時境，或吸納能量的不同而有差異，挑你喜歡的，或合境的聽。
            </span>
          </span>
          <br />
          <br />
          <span>
            <span>
              我修的佛菩薩道很簡單，經咒的便是祂們慈悲、智慧與力量能量的總和，用來喚醒眾生心中的那顆佛的種子，同起慈悲心，生智慧，用力量行動去幫助眾生，能夠覺知的活著，除一切苦，遠離顛倒夢想，究竟涅槃。涅槃即心經中提到的三藐三菩提（sammasamadhi），它並非是佛教說的彼岸或另一個世界，而是一種正確的淨心狀態，筆墨雖難以形容，不過Alone這個字或許合適，當那個moment來臨時，你消失了，佛菩薩也消失了，空中只有滿溢的能量亙古流動著，佛菩薩你我都是Alone（All
              and one)
            </span>
          </span>
          <br />
          <span>
            <span>
              佛教喜談業、因果、地獄、輪迴，今世業來世償，不管有意或是無知，其實都錯了方向，今世業是後世償，今世果是前人所造之業，世世代代便成輪迴，地獄皆出於人心，人不覺知，地獄永遠不空，地藏菩薩發願渡的是世人，而非逝者，數前年來該醒世之人反成惑世之眾，何其悲哀，人生前當覺知，發慈悲心，生養智慧，助人破障離苦，肉身滅後，所修之正能量，方能聚而為菩薩，為發慈悲心之後生所用，否則無來世或轉世可言，僅是宇宙中一粒塵埃或垃圾
            </span>
          </span>
          <br />
          <br />
          <span>
            <span>白度母心咒也有兩種不同的能量，午休或短憩適用。</span>
          </span>
          <br />
          <br />
          <span>
            <span>
              我在尼泊爾時，有過靈動的經驗，是菩薩的啟發，我是看不見的，師父說是機緣，如你照片所見之相，因緣至今，治療時都會祈求佛普薩賜予能量，似皆有應驗
              我覺得與四臂觀音及白度母有緣
            </span>
          </span>
          <br />
          <br />
          <span>
            <span>
              觀察現世多年，自許為修行者我執、貪念及自益心更甚一般常人，且能不忘初心者無幾，令人唏噓。故我不再輕易與人談論及分享修行之法與果，且非至親摯友或菩薩師尊認可之人，亦不施殊法濟助，惟願聽聞經咒持誦之有緣眾生靈，能發慈悲心，增智慧，生力量，除苦離難，至於能渡幾人，但凡隨緣。
            </span>
          </span>
          <br />
          <br />
          <span>
            <span>
              今晚稍早時分，不知何故靈動結印，連結帶動你的七大脈輪及靈台，似我將你調至眼前，在你各脈輪處結印，帶動七輪轉動結印
              昨日結印可能也是宇宙剛好有此能量經過，才會發動吧
              我有在你靈台種下一朵蓮花，能否盛開，看你如何溫潤了
            </span>
          </span>
          <br />
          <br />
          <span>
            <span>
              你靜坐聽咒時，將意念置於脈輪處（可先從頭頂或心輪開始，一次一輪），用身體左右稍微晃動方式，看自己能否稍微帶動脈輪運轉，或感覺脈輪處是否能夠吸納能量。
            </span>
          </span>
          <br />
          <br />
          <span><span>靈動</span></span>
          <br />
          <span>
            <span>
              我的狀況是好像是靈識受到無形之力牽動，進而可以帶動肉身不自主快速結手印
            </span>
          </span>
          <br />
          <span>
            <span>
              藉由不同，做為法施之用手印可以吸收不同能量 自主結印，非人可控
              若不可行之事，手便不會動，想結也結不出 模仿手印，途有形式也無作用
              宇宙能量快速流動變化，複雜的手印可以迅速調整追蹤，應該是如此吧，像是隔空抓藥，在手中完成複合藥劑後，直接給藥一樣
            </span>
          </span>
          <br />
          <span><span>發慈悲心是首要，要做到無私利他</span></span>
          <br />
          <br />
          <span><span>61：46</span></span>
          <br />
          <span>
            <span>
              這次我把能量重心放在文殊菩薩心咒，最後一音“諦”上，用於刺激腦細胞及開智慧，芳英若願意，不妨聽聽
              宇宙的聲音，人只能用類音字記載，連續音是我用來敲擊靈台的
              你不妨也試試，將意念集中於該處，也就是你說的天眼
              眉心往上內觀，道家稱松果體，形似橘子或蓮花苞，修行具足可綻放，或稱開天眼
              無實體，我自己的感應，展開時像一朵蓮花，似水晶光芒，倒不是能觀見什麼，感知比較靈敏吧
              該說功能比較像燈塔或雷達吧 或者衛星
              以現代科學的角度說，就像身體裡一個裝備一樣，是可以成立的，佛菩薩等皆是較人類高階文明的存在
            </span>
          </span>
          <br />
          <span>
            <span>
              那个高階文明，是存在何方?
              或是怎么样的一種在？你可曾感應或聯通過或到過？
            </span>
          </span>
          <br />
          <span>
            <span>
              沒，目前只是訊息及能量的接受及傳導的距離較無限制吧
              以前曾有透過電話，幫加拿大的朋友處理過問題，也可透過照片或影像幫朋友治療等
            </span>
          </span>
          <br />
          <br />
          <span><span>61:42 是“受”的概念，我名為蓄力。</span></span>
          <br />
          <span>
            <span>
              這個是「受-蓄力亅的經咒。睡時改放頂輪，能聚能量於松果體，較好的長期潤養的吸收能量。
            </span>
          </span>
          <br />
          <span>
            <span>
              在這之前的經咒，我是將能量灌輸在聲音中，你聽時就像服用藥丸一樣，在身體裡溫和的慢慢消化，吸收，蓄力。
            </span>
          </span>
          <br />
          <br />
          <span>
            <span>
              躺著聽咒時，可以放在頭頂輪處，會有不同的感受
              你試試將之前的版本一樣放在頭頂輪上聽，看兩種有何不同？
            </span>
          </span>
          <br />
          <br />
          <span>
            <span>
              聽“蓄力”時，我的松果體如一星河，能納宇宙能量，聽“綻放”時，中脈如電流急馳。
            </span>
          </span>
          <br />
          <span>
            <span>
              你聽“蓄力”經時，需憑自身根性修行；聽“綻放”經時，可想像我們頭頂輪互抵，我的能量藉此輪流入你中脈，相互為用。
            </span>
          </span>
          <br />
          <span>
            <span>進入的能量能吸收多少，留下多少，但看平日修行工夫幾分</span>
          </span>
          <br />
          <br />
          <span><span>58:23 是“施”的概念，我命之為綻放</span></span>
          <br />
          <span>
            <span>
              這個是「施-綻放」的經咒。禪修時置於，強能量能貫穿中脈直至海底輪。
            </span>
          </span>
          <br />
          <span>
            <span>
              你現在改放在頭頂輪上聽，應該可以將能量聚於松果體（天眼）處，並感受能量從頭輪吸入的感覺。
            </span>
          </span>
          <br />
          <span>
            <span>
              今天給你的經咒，則是我將能量直接發送，你置於頭頂輪處聽，較像灌頂一般，能量可以直接從頭頂輪連貫至海底輪，直接貫通中脈，能量會比較強勁，如觸電感，所以不適合睡時聽。你靜坐或可改採仰躺方式，讓經咒帶你進入空明狀態，補氣養神。
            </span>
          </span>
          <br />
          <br />
          <span>
            <span>
              51：37
              同樣以“施”的方式，但用輕吟唱誦的咒，名為“呵護”，適合輕聲附耳聆聽
            </span>
          </span>
          <br />
          <span>
            <span>
              當你丟掉自我，色身的輪廓便會消失消失，能量會滿到溢出，你就跟那個世界合而為一，Alone這個字很符合形容這個狀態，All
              and One
            </span>
          </span>
        </p>
        <div class="cdharani-image06">
          <img
            alt="image"
            src="https://user-images.githubusercontent.com/127581878/234004848-636396d5-6098-4b2a-90ff-eeaf5a106af6.png"
            class="cdharani-image07"
          />
        </div>
      </section>
      <div class="cdharani-content02">
        <div id="dekasa" class="cdharani-desaka2">
          <span class="cdharani-title"><span> </span></span>
          <div class="cdharani-minimalism">
            <div class="cdharani-content03">
              <h3 class="cdharani-caption1"><span>DEŚAKA</span></h3>
              <div class="cdharani-image08">
                <img
                  alt="image"
                  src="https://user-images.githubusercontent.com/127581878/236140714-fce7ead4-e4db-4bc6-a725-c578f784e659.png"
                  class="cdharani-image09"
                />
              </div>
            </div>
          </div>
          <div class="cdharani-image10">
            <img
              src="https://user-images.githubusercontent.com/127581878/240352135-b82f085f-5793-476c-b1ef-051959771bfb.jpg"
              class="cdharani-image11"
            />
            <p class="cdharani-quote2">
              <span>
                <span>
                  咒陀羅尼，依禪定發秘密語，有不測之神驗，謂之咒，咒陀羅尼者，於咒總持而不失也。
                </span>
              </span>
              <br />
            </p>
          </div>
        </div>
        <div class="cdharani-video7">
          <div class="cdharani-image12">
            <div class="cdharani-div">
              <dangerous-html
                html="<!DOCTYPE html>
<html>
<body>

<iframe width='480' height='270' src='https://cdn.jwplayer.com/previews/6I1vh8nQ'>
</iframe>

</body>
</html>
"
              ></dangerous-html>
            </div>
          </div>
          <div class="cdharani-content04">
            <div class="cdharani-heading">
              <h2 class="cdharani-header"><span>Humanity</span></h2>
              <p class="cdharani-caption2">
                <span><span>...</span></span>
                <br />
              </p>
            </div>
          </div>
        </div>
        <div class="cdharani--experience">
          <div class="cdharani-image13">
            <img
              alt="image"
              src="https://user-images.githubusercontent.com/127581878/240352135-b82f085f-5793-476c-b1ef-051959771bfb.jpg"
              class="cdharani-image14"
            />
          </div>
          <span class="cdharani-name">
            <span>... personal experiences.</span>
          </span>
        </div>
        <div class="cdharani-details">
          <div class="cdharani-controls"></div>
        </div>
      </div>
      <section class="cdharani-blog2">
        <p class="cdharani-caption3"><span>咒陀羅尼</span></p>
        <div class="cdharani-care">
          <div class="cdharani-content05">
            <div class="cdharani-heading1">
              <a
                href="https://1drv.ms/u/s!Ahlhb4WQ6Xp7gTuu3KcrS5OaW-Cb?e=OglOnt"
                target="_blank"
                rel="noreferrer noopener"
                class="cdharani-link09"
              >
                <h2 class="cdharani-header1"><span>“呵護”</span></h2>
              </a>
              <p class="cdharani-caption4">
                <span class="cdharani-text144"><span>“施”的方式</span></span>
                <br class="cdharani-text145" />
                <span class="cdharani-text146">
                  <span>輕吟唱誦陀羅尼，適合附耳聆聽。</span>
                </span>
                <br class="cdharani-text147" />
              </p>
            </div>
          </div>
          <div class="cdharani-image15">
            <div>
              <dangerous-html
                html="<iframe src='https://podcasters.spotify.com/pod/show/karuna62/embed/episodes/--e255mfi' height='102px' width='400px' frameborder='0' scrolling='no'></iframe>
"
              ></dangerous-html>
            </div>
          </div>
        </div>
        <div class="cdharani-care1">
          <div class="cdharani-content06">
            <div class="cdharani-heading2">
              <a
                href="https://1drv.ms/u/s!Ahlhb4WQ6Xp7gTuu3KcrS5OaW-Cb?e=OglOnt"
                target="_blank"
                rel="noreferrer noopener"
                class="cdharani-link10"
              >
                <h2 class="cdharani-header2"><span>“呵護”</span></h2>
              </a>
              <p class="cdharani-caption5">
                <span class="cdharani-text148"><span>“施”的方式</span></span>
                <br class="cdharani-text149" />
                <span class="cdharani-text150">
                  <span>輕吟唱誦陀羅尼，適合附耳聆聽。</span>
                </span>
                <br class="cdharani-text151" />
              </p>
            </div>
          </div>
          <div class="cdharani-image16">
            <div>
              <dangerous-html
                html="<iframe src='https://podcasters.spotify.com/pod/show/karuna62/embed/episodes/--e255mfi' height='102px' width='400px' frameborder='0' scrolling='no'></iframe>
"
              ></dangerous-html>
            </div>
          </div>
        </div>
        <div class="cdharani-care2">
          <div class="cdharani-content07">
            <div class="cdharani-heading3">
              <a
                href="https://1drv.ms/u/s!Ahlhb4WQ6Xp7gTuu3KcrS5OaW-Cb?e=OglOnt"
                target="_blank"
                rel="noreferrer noopener"
                class="cdharani-link11"
              >
                <h2 class="cdharani-header3"><span>“呵護”</span></h2>
              </a>
              <p class="cdharani-caption6">
                <span class="cdharani-text152"><span>“施”的方式</span></span>
                <br class="cdharani-text153" />
                <span class="cdharani-text154">
                  <span>輕吟唱誦陀羅尼，適合附耳聆聽。</span>
                </span>
                <br class="cdharani-text155" />
              </p>
            </div>
          </div>
          <div class="cdharani-image17">
            <div>
              <dangerous-html
                html="<iframe src='https://podcasters.spotify.com/pod/show/karuna62/embed/episodes/--e255mfi' height='102px' width='400px' frameborder='0' scrolling='no'></iframe>
"
              ></dangerous-html>
            </div>
          </div>
        </div>
        <div class="cdharani-care3">
          <div class="cdharani-content08">
            <div class="cdharani-heading4">
              <a
                href="https://1drv.ms/u/s!Ahlhb4WQ6Xp7gTuu3KcrS5OaW-Cb?e=OglOnt"
                target="_blank"
                rel="noreferrer noopener"
                class="cdharani-link12"
              >
                <h2 class="cdharani-header4"><span>“呵護”</span></h2>
              </a>
              <p class="cdharani-caption7">
                <span class="cdharani-text156"><span>“施”的方式</span></span>
                <br class="cdharani-text157" />
                <span class="cdharani-text158">
                  <span>輕吟唱誦陀羅尼，適合附耳聆聽。</span>
                </span>
                <br class="cdharani-text159" />
              </p>
            </div>
          </div>
          <div class="cdharani-image18">
            <div>
              <dangerous-html
                html="<iframe src='https://podcasters.spotify.com/pod/show/karuna62/embed/episodes/--e255mfi' height='102px' width='400px' frameborder='0' scrolling='no'></iframe>
"
              ></dangerous-html>
            </div>
          </div>
        </div>
      </section>
      <section class="cdharani-footer">
        <div class="cdharani-content09">
          <div class="cdharani-footer1">
            <div class="cdharani-branding">
              <a
                href="https://sva.us"
                target="_blank"
                rel="noreferrer noopener"
                class="cdharani-link13"
              >
                <div class="cdharani-heading5">
                  <img
                    alt="image"
                    src="https://user-images.githubusercontent.com/127581878/228807755-63814c2e-8c8f-4df7-ba90-75a6477c5cb8.png"
                    class="cdharani-image19"
                  />
                  <p class="cdharani-caption8"><span>ༀམཎིཔདྨེཧཱུྃ</span></p>
                </div>
              </a>
            </div>
          </div>
          <div class="cdharani-contact-link">
            <a
              href="mailto:info@tangible.construction?subject="
              class="cdharani-email button"
            >
              <span>
                <span><span>EMAIL</span></span>
                <span><span>US   </span></span>
                <br />
                <span><span>info@tangible.construction</span></span>
                <br />
              </span>
            </a>
            <a href="tel:+842746265100" class="cdharani-call button">
              <span>
                <span><span>CALL </span></span>
                <span><span>US   </span></span>
                <br />
                <span><span>+84 274 626 5100</span></span>
              </span>
            </a>
          </div>
          <a
            href="https://sva.us"
            target="_blank"
            rel="noreferrer noopener"
            class="cdharani-copyright"
          >
            <span>
              © 2023 Social Ventures Advisory  (US).  All rights reserved.
            </span>
          </a>
        </div>
      </section>
      <div>
        <dangerous-html
          html="<script>
 /*
  Accordion - Code Embed
  */
  const accordionContainers = document.querySelectorAll('[data-role='accordion-container']'); // All accordion containers
  const accordionContents = document.querySelectorAll('[data-role='accordion-content']'); // All accordion content
  const accordionIconsClosed = document.querySelectorAll('[data-role='accordion-icon-closed']'); // All accordion closed icons
  const accordionIconsOpen = document.querySelectorAll('[data-role='accordion-icon-open']'); // All accordion open icons

  accordionContents.forEach((accordionContent) => {
      accordionContent.style.display = 'none'; //Hides all accordion contents
  });

  accordionIconsClosed.forEach((icon) => {
    icon.style.display = 'flex'
  })

  accordionIconsOpen.forEach((icon) => {
    icon.style.display = 'none'
  })

  accordionContainers.forEach((accordionContainer, index) => {
      accordionContainer.addEventListener('click', () => {
          if (accordionContents[index].style.display === 'flex') {
              // If the accordion is already open, close it
              accordionContents[index].style.display = 'none';
              accordionIconsClosed[index].style.display = 'flex';
              accordionIconsOpen[index].style.display = 'none'
          } else {
              // If the accordion is closed, open it
              accordionContents.forEach((accordionContent) => {
                  accordionContent.style.display = 'none'; //Hides all accordion contents
              });

              accordionIconsClosed.forEach((accordionIcon) => {
                  accordionIcon.style.display = 'flex'; // Resets all icon transforms to 0deg (default)
              });

              accordionIconsOpen.forEach((accordionIcon) => {
                accordionIcon.style.display = 'none';
              })
              
              accordionContents[index].style.display = 'flex'; // Shows accordion content
              accordionIconsClosed[index].style.display = 'none'; // Rotates accordion icon 180deg
              accordionIconsOpen[index].style.display = 'flex';
          }
      });
  });
</script>
"
        ></dangerous-html>
      </div>
    </div>
  </div>
</div>
