.sva-main1-container {
  width: 100%;
  height: 400px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.sva-main1-main {
  width: 100%;
  height: 647px;
  display: flex;
  position: relative;
  align-items: center;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.sva-main1-website {
  align-self: flex-end;
  font-style: normal;
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  transition: 0.3s;
  font-weight: 500;
  padding-top: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 0px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: transparent;
}
.sva-main1-website:hover {
  opacity: 0.5;
}
.sva-main1-home {
  color: var(--dl-color-gray-black);
  font-size: 16px;
  align-self: flex-start;
  font-style: normal;
  margin-top: 0px;
  text-align: left;
  font-weight: 400;
  margin-left: 120px;
  margin-right: 0px;
  vertical-align: middle;
}
.sva-main1-content {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-self: center;
  margin-top: var(--dl-space-space-threeunits);
  align-items: center;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
}
.sva-main1-navbar {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  max-width: 1440px;
  align-self: center;
  align-items: center;
  padding-top: 11px;
  justify-content: space-between;
}
.sva-main1-menu {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: flex-start;
}
.sva-main1-hamburger {
  color: var(--dl-color-gray-black);
  width: 36px;
  cursor: pointer;
  height: 36px;
  display: flex;
  padding-top: var(--dl-space-space-unit);
  aspect-ratio: 1;
  border-width: 0px;
  padding-left: 0px;
  border-radius: 0px;
  padding-right: var(--dl-space-space-unit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-unit);
  background-color: transparent;
}
.sva-main1-icon {
  fill: var(--dl-color-gray-white);
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
}
.sva-main1-logo {
  width: 117px;
  height: var(--dl-size-size-xlarge);
  opacity: 1;
  margin-top: -180px;
  margin-left: -90px;
  padding-top: 0px;
  padding-left: 0px;
}
.sva-main1-mobile-menu {
  top: var(--dl-space-space-sixunits);
  left: -73px;
  color: var(--dl-color-gray-black);
  width: var(--dl-size-size-xlarge);
  bottom: -545px;
  height: auto;
  display: none;
  padding: 32px;
  position: absolute;
  align-self: center;
  margin-top: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-danger-300);
}
.sva-main1-nav {
  width: var(--dl-size-size-medium);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.sva-main1-tangible-logo {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.sva-main1-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sva-main1-icon2 {
  fill: var(--dl-color-gray-white);
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  align-self: center;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}
.sva-main1-nav1 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.sva-main1-desaka {
  cursor: pointer;
  display: inline-block;
  position: relative;
  margin-top: var(--dl-space-space-halfunit);
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius2);
  margin-bottom: var(--dl-space-space-halfunit);
}
.sva-main1-dropdown-toggle {
  fill: #595959;
  color: var(--dl-color-gray-black);
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: 0px;
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius2);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: 0px;
  justify-content: center;
}
.sva-main1-title-reference {
  color: var(--dl-color-gray-white);
  font-size: 16px;
  font-style: normal;
  text-align: left;
  font-family: Arial;
  font-weight: 500;
  line-height: 16px;
  margin-right: 0px;
  vertical-align: middle;
}
.sva-main1-dropdown-arrow {
  transition: 0.3s;
}
.sva-main1-dropdown-list {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-danger-300);
  list-style-position: inside;
}
.sva-main1-karuna {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.sva-main1-delu {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.sva-main1-courses {
  cursor: pointer;
  display: inline-block;
  position: relative;
  margin-top: var(--dl-space-space-halfunit);
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius2);
  margin-bottom: var(--dl-space-space-halfunit);
}
.sva-main1-dropdown-toggle1 {
  fill: #595959;
  color: var(--dl-color-gray-black);
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: 0px;
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius2);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: 0px;
  justify-content: center;
}
.sva-main1-title-reference1 {
  color: var(--dl-color-gray-white);
  font-size: 16px;
  font-style: normal;
  text-align: left;
  font-family: Arial;
  font-weight: 500;
  margin-right: 0px;
  vertical-align: middle;
}
.sva-main1-dropdown-arrow1 {
  transition: 0.3s;
}
.sva-main1-dropdown-list1 {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-danger-300);
  list-style-position: inside;
}
.sva-main1-karuna1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.sva-main1-delu1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.sva-main1-blog {
  cursor: pointer;
  display: inline-block;
  position: relative;
  margin-top: var(--dl-space-space-halfunit);
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius2);
  margin-bottom: var(--dl-space-space-halfunit);
}
.sva-main1-dropdown-toggle2 {
  fill: #595959;
  color: var(--dl-color-gray-black);
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: 0px;
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius2);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: 0px;
  justify-content: center;
}
.sva-main1-title-reference2 {
  color: var(--dl-color-gray-white);
  font-size: 16px;
  font-style: normal;
  text-align: left;
  font-family: Arial;
  font-weight: 500;
  margin-right: 0px;
  vertical-align: middle;
}
.sva-main1-dropdown-arrow2 {
  transition: 0.3s;
}
.sva-main1-dropdown-list2 {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-white);
  list-style-position: inside;
}
.sva-main1-karuna2 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.sva-main1-delu2 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.sva-main1-link {
  display: contents;
}
.sva-main1-contact {
  cursor: pointer;
  display: inline-block;
  position: relative;
  margin-top: var(--dl-space-space-halfunit);
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius2);
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.sva-main1-dropdown-toggle3 {
  fill: #595959;
  color: var(--dl-color-gray-black);
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: 0px;
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius2);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: 0px;
  justify-content: center;
}
.sva-main1-title-reference3 {
  color: var(--dl-color-gray-white);
  font-size: 16px;
  font-style: normal;
  text-align: left;
  font-family: Arial;
  font-weight: 500;
  margin-right: 0px;
  vertical-align: middle;
}
.sva-main1-dropdown-arrow3 {
  transition: 0.3s;
}
.sva-main1-dropdown-list3 {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-white);
  list-style-position: inside;
}
.sva-main1-karuna3 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.sva-main1-delu3 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.sva-main1-language {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.sva-main1-dropdown-toggle4 {
  fill: #595959;
  color: var(--dl-color-gray-white);
  width: 100%;
  display: inline-flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  margin-left: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-gray-white);
  border-width: 1px;
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius2);
  margin-bottom: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
}
.sva-main1-english {
  color: var(--dl-color-gray-white);
  font-size: 16px;
  font-style: normal;
  text-align: center;
  font-weight: 400;
  line-height: 16px;
  margin-right: 4px;
  vertical-align: middle;
}
.sva-main1-dropdown-arrow4 {
  transition: 0.3s;
}
.sva-main1-dropdown-list4 {
  top: -8px;
  left: 100%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  margin-left: var(--dl-space-space-twounits);
  border-color: transparent;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-danger-300);
  list-style-position: inside;
}
.sva-main1-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  margin-top: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius2);
}
.sva-main1-dropdown-toggle5 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.sva-main1-dropdown-toggle5:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.sva-main1-chn-tw {
  color: var(--dl-color-gray-white);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  text-decoration: none;
}
.sva-main1-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.sva-main1-dropdown-toggle6 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.sva-main1-dropdown-toggle6:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.sva-main1-chn-cn {
  color: var(--dl-color-gray-white);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  text-decoration: underline none;
}
.sva-main1-dropdown2 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
  margin-bottom: var(--dl-space-space-halfunit);
}
.sva-main1-dropdown-toggle7 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.sva-main1-dropdown-toggle7:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.sva-main1-vn {
  color: var(--dl-color-gray-white);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  text-decoration: none;
}
.sva-main1-video {
  width: auto;
  height: auto;
  display: flex;
  overflow: hidden;
  align-self: center;
  margin-top: var(--dl-space-space-fourunits);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.sva-main1-video1 {
  width: 90%;
  height: auto;
  opacity: 1;
  align-self: center;
  border-radius: var(--dl-radius-radius-radius4);
}
.sva-main1-caption {
  color: var(--dl-color-gray-black);
  width: auto;
  height: auto;
  font-size: 63px;
  max-width: auto;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-family: Cormorant Infant;
  font-weight: 700;
  line-height: 60px;
  margin-left: auto;
  padding-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
}
.sva-main1-svaus {
  color: var(--dl-color-gray-black);
  width: auto;
  height: auto;
  font-size: 27px;
  max-width: auto;
  font-style: normal;
  text-align: center;
  font-family: Karla;
  font-weight: 500;
  line-height: 26px;
  padding-top: 0px;
}
.sva-main1-text09 {
  line-height: 36px;
}
@media(max-width: 991px) {
  .sva-main1-main {
    height: 100%;
    padding-left: var(--dl-space-space-fiveunits);
    padding-right: var(--dl-space-space-fiveunits);
  }
  .sva-main1-website {
    border-radius: 90px;
  }
  .sva-main1-home {
    top: -16px;
    left: 90px;
    bottom: 0px;
    position: absolute;
    font-size: 11px;
    margin-top: 0px;
    margin-left: 0px;
  }
  .sva-main1-content {
    height: auto;
    margin-top: 0px;
    padding-bottom: 0px;
  }
  .sva-main1-navbar {
    margin-top: -27px;
    align-items: flex-start;
    padding-top: 0px;
  }
  .sva-main1-menu {
    right: 0px;
    width: 100%;
    bottom: 0px;
    height: auto;
    position: absolute;
    align-self: flex-start;
    align-items: flex-start;
  }
  .sva-main1-hamburger {
    top: -16px;
    left: 70px;
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
  }
  .sva-main1-icon {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
    align-self: flex-start;
  }
  .sva-main1-logo {
    top: -27px;
    left: -45px;
    right: 0px;
    width: var(--dl-size-size-medium);
    bottom: 0px;
    height: var(--dl-size-size-medium);
    margin: 0px;
    opacity: 1;
    position: absolute;
  }
  .sva-main1-mobile-menu {
    left: -48px;
    width: var(--dl-size-size-large);
    bottom: 0px;
    height: var(--dl-size-size-xlarge);
    padding: 0px;
    position: absolute;
    margin-top: var(--dl-space-space-fourunits);
  }
  .sva-main1-tangible-logo {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .sva-main1-icon2 {
    width: 27px;
    height: 27px;
  }
  .sva-main1-desaka {
    margin-top: 0px;
  }
  .sva-main1-title-reference {
    color: var(--dl-color-gray-white);
    font-size: 12px;
    font-style: normal;
    font-family: Arial;
    font-weight: 500;
  }
  .sva-main1-dropdown-list {
    left: 0%;
  }
  .sva-main1-courses {
    margin-top: 0px;
  }
  .sva-main1-title-reference1 {
    color: var(--dl-color-gray-white);
    font-size: 12px;
    font-style: normal;
    font-family: Arial;
    font-weight: 500;
    line-height: 12px;
  }
  .sva-main1-dropdown-list1 {
    left: 0%;
  }
  .sva-main1-blog {
    margin-top: 0px;
  }
  .sva-main1-title-reference2 {
    color: var(--dl-color-gray-white);
    font-size: 12px;
    font-style: normal;
    font-family: Arial;
    font-weight: 500;
    line-height: 12px;
  }
  .sva-main1-dropdown-list2 {
    left: 0%;
  }
  .sva-main1-contact {
    margin-top: 0px;
  }
  .sva-main1-title-reference3 {
    color: var(--dl-color-gray-white);
    font-size: 12px;
    font-style: normal;
    font-family: Arial;
    font-weight: 500;
    line-height: 12px;
  }
  .sva-main1-dropdown-list3 {
    left: 0%;
  }
  .sva-main1-dropdown-toggle4 {
    margin-top: var(--dl-space-space-unit);
    margin-left: var(--dl-space-space-unit);
    padding-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
  .sva-main1-english {
    color: var(--dl-color-gray-white);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    margin-left: 4px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .sva-main1-dropdown-list4 {
    height: var(--dl-size-size-medium);
    border-color: transparent;
    background-color: var(--dl-color-danger-300);
  }
  .sva-main1-dropdown-toggle5 {
    padding-top: 0px;
  }
  .sva-main1-chn-tw {
    color: var(--dl-color-gray-white);
    font-size: 14px;
    margin-top: var(--dl-space-space-halfunit);
    line-height: 14px;
  }
  .sva-main1-dropdown-toggle6 {
    padding-top: 0px;
  }
  .sva-main1-chn-cn {
    color: var(--dl-color-gray-white);
    font-size: 14px;
    line-height: 14px;
  }
  .sva-main1-dropdown-toggle7 {
    padding-top: 0px;
  }
  .sva-main1-vn {
    color: var(--dl-color-gray-white);
    font-size: 14px;
    line-height: 14px;
  }
  .sva-main1-video {
    width: auto;
    height: auto;
    position: static;
    margin-bottom: 0px;
  }
  .sva-main1-video1 {
    flex: 0;
    width: 80%;
    height: auto;
    opacity: 1;
    margin-top: var(--dl-space-space-sixunits);
    border-radius: 0px;
    margin-bottom: 0px;
  }
  .sva-main1-caption {
    color: var(--dl-color-gray-black);
    width: auto;
    height: 115px;
    font-size: 36px;
    max-width: auto;
    align-self: center;
    font-style: normal;
    margin-top: 0px;
    text-align: right;
    font-family: Cormorant Infant;
    font-weight: 700;
    line-height: 35px;
    padding-top: 0px;
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .sva-main1-svaus {
    color: var(--dl-color-gray-black);
    width: auto;
    font-size: 18px;
    max-width: auto;
    align-self: center;
    font-style: normal;
    font-family: Cormorant Infant;
    font-weight: 800;
    line-height: 24px;
  }
}
@media(max-width: 767px) {
  .sva-main1-main {
    height: auto;
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .sva-main1-website {
    border-radius: var(--dl-radius-radius-radius4);
  }
  .sva-main1-home {
    top: -16px;
    left: 110px;
    font-size: 11px;
    margin-top: 0px;
    margin-left: 0px;
  }
  .sva-main1-content {
    align-self: center;
    margin-top: 0px;
    margin-bottom: var(--dl-space-space-sixunits);
  }
  .sva-main1-navbar {
    align-items: flex-start;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .sva-main1-menu {
    top: 0px;
    left: 0px;
    display: flex;
    position: absolute;
  }
  .sva-main1-hamburger {
    top: -16px;
    left: 90px;
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
    margin-left: 0px;
    padding-left: 0px;
  }
  .sva-main1-icon {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
  }
  .sva-main1-logo {
    top: -27px;
    left: 0px;
    width: var(--dl-size-size-medium);
    height: var(--dl-size-size-medium);
    position: absolute;
  }
  .sva-main1-mobile-menu {
    top: var(--dl-space-space-oneandhalfunits);
    left: 0px;
    width: var(--dl-size-size-large);
    bottom: 0px;
    height: var(--dl-size-size-xlarge);
    padding: 0px;
    position: absolute;
    margin-top: var(--dl-space-space-fourunits);
  }
  .sva-main1-tangible-logo {
    position: relative;
  }
  .sva-main1-menu-close {
    justify-content: flex-end;
  }
  .sva-main1-icon2 {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .sva-main1-nav1 {
    position: relative;
  }
  .sva-main1-desaka {
    margin-top: 0px;
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .sva-main1-title-reference {
    color: var(--dl-color-gray-white);
    font-size: 12px;
    font-style: normal;
    font-family: Arial;
    font-weight: 500;
    line-height: 12px;
  }
  .sva-main1-dropdown-list {
    left: 0%;
  }
  .sva-main1-courses {
    margin-top: 0px;
  }
  .sva-main1-title-reference1 {
    color: var(--dl-color-gray-white);
    font-size: 12px;
    font-style: normal;
    font-family: Arial;
    font-weight: 500;
    line-height: 12px;
  }
  .sva-main1-dropdown-list1 {
    left: 0%;
  }
  .sva-main1-blog {
    margin-top: 0px;
  }
  .sva-main1-title-reference2 {
    color: var(--dl-color-gray-white);
    font-size: 12px;
    font-style: normal;
    font-family: Arial;
    font-weight: 500;
    line-height: 12px;
  }
  .sva-main1-dropdown-list2 {
    left: 0%;
  }
  .sva-main1-contact {
    margin-top: 0px;
  }
  .sva-main1-title-reference3 {
    color: var(--dl-color-gray-white);
    font-size: 12px;
    font-style: normal;
    font-family: Arial;
    font-weight: 500;
    line-height: 12px;
  }
  .sva-main1-dropdown-list3 {
    left: 0%;
  }
  .sva-main1-language {
    margin-left: 0px;
  }
  .sva-main1-dropdown-toggle4 {
    margin-top: var(--dl-space-space-unit);
    margin-left: var(--dl-space-space-unit);
    padding-top: 0px;
    padding-left: 0px;
    margin-bottom: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
  }
  .sva-main1-english {
    color: var(--dl-color-gray-white);
    font-size: 14px;
    font-style: normal;
    margin-top: 4px;
    font-weight: 400;
    margin-left: 4px;
    margin-right: 4px;
    margin-bottom: 4px;
  }
  .sva-main1-dropdown-list4 {
    top: 0;
    left: 100%;
  }
  .sva-main1-video {
    height: auto;
  }
  .sva-main1-video1 {
    top: 0px;
    flex: 0px;
    left: 0px;
    right: 0px;
    width: 90%;
    height: auto;
    margin-top: var(--dl-space-space-sixunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .sva-main1-caption {
    color: var(--dl-color-gray-black);
    width: auto;
    height: 123px;
    font-size: 36px;
    max-width: auto;
    margin-top: 0px;
    font-family: Cormorant Infant;
    font-weight: 700;
    line-height: 35px;
    padding-top: 0px;
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .sva-main1-svaus {
    color: var(--dl-color-gray-black);
    height: auto;
    font-size: 18px;
    max-width: 80%;
    margin-top: 0px;
    font-family: Cormorant Infant;
    font-weight: 700;
    line-height: 26px;
    padding-top: 0px;
  }
}
@media(max-width: 479px) {
  .sva-main1-main {
    height: 450px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .sva-main1-website {
    color: var(--dl-color-gray-black);
    margin-top: var(--dl-space-space-oneandhalfunits);
    padding-top: var(--dl-space-space-halfunit);
    border-color: var(--dl-color-gray-700);
    border-width: 0.5px;
    margin-right: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-unit);
    border-radius: 0px;
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-halfunit);
    background-color: var(--dl-color-gray-white);
  }
  .sva-main1-text {
    font-size: 14px;
  }
  .sva-main1-home {
    top: var(--dl-space-space-sixunits);
    position: static;
    font-size: 12px;
    margin-top: -27px;
    margin-left: var(--dl-space-space-sixunits);
    padding-top: 0px;
    margin-right: var(--dl-space-space-sixunits);
  }
  .sva-main1-content {
    width: 100%;
    bottom: 96px;
    height: auto;
    margin-top: 120px;
    align-items: center;
    margin-right: 0px;
    margin-bottom: 0px;
    justify-content: flex-start;
  }
  .sva-main1-navbar {
    width: auto;
    height: auto;
    position: 0px;
    max-width: 100%;
    align-self: flex-start;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .sva-main1-menu {
    width: auto;
    height: auto;
    position: static;
    margin-top: -32px;
  }
  .sva-main1-hamburger {
    top: -46px;
    left: 54px;
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
    position: absolute;
    margin-top: var(--dl-space-space-unit);
    margin-left: var(--dl-space-space-oneandhalfunits);
    padding-top: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
  }
  .sva-main1-icon {
    top: var(--dl-space-space-twounits);
    fill: var(--dl-color-gray-white);
    opacity: 0;
  }
  .sva-main1-logo {
    top: -54px;
    left: 0px;
    width: 72px;
    height: var(--dl-size-size-medium);
    opacity: 1;
    position: static;
    align-self: center;
    margin-top: -20px;
    margin-left: var(--dl-space-space-unit);
  }
  .sva-main1-mobile-menu {
    top: 0px;
    left: 0px;
    width: auto;
    bottom: 0px;
    height: auto;
    padding: 0px;
    position: absolute;
  }
  .sva-main1-nav {
    top: var(--dl-space-space-halfunit);
    left: var(--dl-space-space-halfunit);
    width: var(--dl-size-size-medium);
    height: auto;
    position: absolute;
    margin-top: 0px;
    background-color: var(--dl-color-danger-300);
  }
  .sva-main1-tangible-logo {
    margin-top: var(--dl-space-space-unit);
  }
  .sva-main1-icon2 {
    margin-top: 0px;
    margin-left: var(--dl-space-space-oneandhalfunits);
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .sva-main1-desaka {
    margin-top: 0px;
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .sva-main1-dropdown-toggle {
    color: var(--dl-color-gray-white);
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
    padding-bottom: 0px;
  }
  .sva-main1-title-reference {
    color: var(--dl-color-gray-white);
    font-size: 12px;
    font-style: normal;
    text-align: left;
    font-family: Arial;
    font-weight: 500;
  }
  .sva-main1-dropdown-list {
    left: 0%;
    width: 99px;
    background-color: var(--dl-color-danger-300);
  }
  .sva-main1-courses {
    margin-top: 0px;
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .sva-main1-dropdown-toggle1 {
    color: var(--dl-color-gray-white);
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
    padding-bottom: 0px;
  }
  .sva-main1-title-reference1 {
    color: var(--dl-color-gray-white);
    font-size: 12px;
    font-style: normal;
    text-align: left;
    font-family: Arial;
    font-weight: 500;
  }
  .sva-main1-dropdown-list1 {
    left: 0%;
    width: 99px;
    background-color: var(--dl-color-danger-300);
  }
  .sva-main1-blog {
    margin-top: 0px;
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .sva-main1-dropdown-toggle2 {
    color: var(--dl-color-gray-white);
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
    padding-bottom: 0px;
  }
  .sva-main1-title-reference2 {
    color: var(--dl-color-gray-white);
    font-size: 12px;
    font-style: normal;
    text-align: left;
    font-family: Arial;
    font-weight: 500;
  }
  .sva-main1-dropdown-list2 {
    left: 0%;
    width: 99px;
  }
  .sva-main1-contact {
    margin-top: 0px;
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .sva-main1-dropdown-toggle3 {
    color: var(--dl-color-gray-white);
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
    padding-bottom: 0px;
  }
  .sva-main1-title-reference3 {
    color: var(--dl-color-gray-white);
    font-size: 12px;
    font-style: normal;
    text-align: left;
    font-family: Arial;
    font-weight: 500;
  }
  .sva-main1-dropdown-list3 {
    left: 0%;
    width: 99px;
  }
  .sva-main1-dropdown-toggle4 {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: var(--dl-space-space-unit);
    padding-top: 0px;
    padding-left: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
    padding-right: 0px;
    flex-direction: row;
    padding-bottom: 0px;
  }
  .sva-main1-english {
    color: var(--dl-color-gray-white);
    font-size: 14px;
    font-style: normal;
    margin-top: 4px;
    font-weight: 400;
    margin-left: 4px;
    margin-right: 4px;
    margin-bottom: 4px;
  }
  .sva-main1-dropdown-list4 {
    top: -16px;
    left: 100%;
    width: 101px;
    height: auto;
    margin-left: 22px;
    border-color: transparent;
    border-radius: 0px;
    background-color: var(--dl-color-danger-300);
  }
  .sva-main1-dropdown {
    margin-top: var(--dl-space-space-unit);
  }
  .sva-main1-chn-tw {
    color: var(--dl-color-gray-white);
    font-size: 14px;
    line-height: 14px;
  }
  .sva-main1-chn-cn {
    color: var(--dl-color-gray-white);
    font-size: 14px;
    line-height: 14px;
  }
  .sva-main1-dropdown-toggle7 {
    padding-bottom: var(--dl-space-space-unit);
  }
  .sva-main1-vn {
    color: var(--dl-color-gray-white);
    font-size: 14px;
    line-height: 14px;
  }
  .sva-main1-video {
    width: 100%;
    height: auto;
  }
  .sva-main1-video1 {
    left: -63PX;
    right: 0px;
    width: 350px;
    bottom: var(--dl-space-space-halfunit);
    height: auto;
    margin: 0px;
    opacity: 1;
    border-radius: 0px;
  }
  .sva-main1-caption {
    color: var(--dl-color-gray-black);
    width: auto;
    height: auto;
    font-size: 27px;
    max-width: 100%;
    align-self: center;
    font-style: normal;
    margin-top: 0px;
    text-align: right;
    font-family: Cormorant Infant;
    font-weight: 700;
    line-height: 26px;
    margin-left: 0px;
    margin-right: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
  }
  .sva-main1-svaus {
    color: var(--dl-color-gray-black);
    width: auto;
    height: auto;
    font-size: 16px;
    max-width: 100%;
    align-self: center;
    font-style: normal;
    text-align: right;
    font-family: Karla;
    font-weight: 500;
    line-height: 26px;
    padding-top: 0px;
    margin-right: 0px;
    padding-right: 0px;
  }
}
