<div>
  <link href="./sva-main1.css" rel="stylesheet" />
  <div class="sva-main1-container">
    <div class="sva-main1-main">
      <a
        href="https://sva.us/about.html"
        target="_blank"
        rel="noreferrer noopener"
        class="sva-main1-website button"
      >
        <span class="sva-main1-text">
          <span><span>ABOUT</span></span>
          <br />
        </span>
      </a>
      <span class="sva-main1-home"><span>HOME</span></span>
      <div class="sva-main1-content">
        <header data-thq="thq-navbar" class="sva-main1-navbar">
          <div data-thq="thq-burger-menu" class="sva-main1-menu">
            <button class="sva-main1-hamburger button">
              <svg viewBox="0 0 1024 1024" class="sva-main1-icon">
                <path
                  d="M128 554.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 298.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 810.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"
                ></path>
              </svg>
            </button>
            <video
              src="https://user-images.githubusercontent.com/127581878/235343572-b3552625-47fa-4f51-8fe0-4d8824798c93.png"
              loop
              poster="https://user-images.githubusercontent.com/127581878/235343572-b3552625-47fa-4f51-8fe0-4d8824798c93.png"
              autoplay
              class="sva-main1-logo"
            ></video>
          </div>
          <div data-thq="thq-mobile-menu" class="sva-main1-mobile-menu">
            <div
              data-thq="thq-mobile-menu-nav"
              data-role="Nav"
              class="sva-main1-nav"
            >
              <div class="sva-main1-tangible-logo">
                <div data-thq="thq-close-menu" class="sva-main1-menu-close">
                  <svg viewBox="0 0 1024 1024" class="sva-main1-icon2">
                    <path
                      d="M810 274l-238 238 238 238-60 60-238-238-238 238-60-60 238-238-238-238 60-60 238 238 238-238z"
                    ></path>
                  </svg>
                </div>
              </div>
              <nav
                data-thq="thq-mobile-menu-nav-links"
                data-role="Nav"
                class="sva-main1-nav1"
              >
                <div data-thq="thq-dropdown" class="sva-main1-desaka list-item">
                  <div
                    data-thq="thq-dropdown-toggle"
                    class="sva-main1-dropdown-toggle"
                  >
                    <span class="sva-main1-title-reference">
                      <span>DEŚAKA</span>
                    </span>
                    <div
                      data-thq="thq-dropdown-arrow"
                      class="sva-main1-dropdown-arrow"
                    ></div>
                  </div>
                  <ul
                    data-thq="thq-dropdown-list"
                    class="sva-main1-dropdown-list"
                  >
                    <li
                      data-thq="thq-dropdown"
                      class="sva-main1-karuna list-item"
                    ></li>
                    <li
                      data-thq="thq-dropdown"
                      class="sva-main1-delu list-item"
                    ></li>
                  </ul>
                </div>
                <div
                  data-thq="thq-dropdown"
                  class="sva-main1-courses list-item"
                >
                  <div
                    data-thq="thq-dropdown-toggle"
                    class="sva-main1-dropdown-toggle1"
                  >
                    <span class="sva-main1-title-reference1">
                      <span>COURSES</span>
                    </span>
                    <div
                      data-thq="thq-dropdown-arrow"
                      class="sva-main1-dropdown-arrow1"
                    ></div>
                  </div>
                  <ul
                    data-thq="thq-dropdown-list"
                    class="sva-main1-dropdown-list1"
                  >
                    <li
                      data-thq="thq-dropdown"
                      class="sva-main1-karuna1 list-item"
                    ></li>
                    <li
                      data-thq="thq-dropdown"
                      class="sva-main1-delu1 list-item"
                    ></li>
                  </ul>
                </div>
                <div data-thq="thq-dropdown" class="sva-main1-blog list-item">
                  <div
                    data-thq="thq-dropdown-toggle"
                    class="sva-main1-dropdown-toggle2"
                  >
                    <span class="sva-main1-title-reference2">
                      <span>BLOG</span>
                    </span>
                    <div
                      data-thq="thq-dropdown-arrow"
                      class="sva-main1-dropdown-arrow2"
                    ></div>
                  </div>
                  <ul
                    data-thq="thq-dropdown-list"
                    class="sva-main1-dropdown-list2"
                  >
                    <li
                      data-thq="thq-dropdown"
                      class="sva-main1-karuna2 list-item"
                    ></li>
                    <li
                      data-thq="thq-dropdown"
                      class="sva-main1-delu2 list-item"
                    ></li>
                  </ul>
                </div>
                <a
                  href="https://form.jotform.com/231088162261451"
                  target="_blank"
                  rel="noreferrer noopener"
                  class="sva-main1-link"
                >
                  <div
                    data-thq="thq-dropdown"
                    class="sva-main1-contact list-item"
                  >
                    <div
                      data-thq="thq-dropdown-toggle"
                      class="sva-main1-dropdown-toggle3"
                    >
                      <span class="sva-main1-title-reference3">
                        <span>CONTACT</span>
                      </span>
                      <div
                        data-thq="thq-dropdown-arrow"
                        class="sva-main1-dropdown-arrow3"
                      ></div>
                    </div>
                    <ul
                      data-thq="thq-dropdown-list"
                      class="sva-main1-dropdown-list3"
                    >
                      <li
                        data-thq="thq-dropdown"
                        class="sva-main1-karuna3 list-item"
                      ></li>
                      <li
                        data-thq="thq-dropdown"
                        class="sva-main1-delu3 list-item"
                      ></li>
                    </ul>
                  </div>
                </a>
                <div
                  data-thq="thq-dropdown"
                  class="sva-main1-language list-item"
                >
                  <div
                    data-thq="thq-dropdown-toggle"
                    class="sva-main1-dropdown-toggle4"
                  >
                    <span class="sva-main1-english"><span>English</span></span>
                    <div
                      data-thq="thq-dropdown-arrow"
                      class="sva-main1-dropdown-arrow4"
                    ></div>
                  </div>
                  <ul
                    data-thq="thq-dropdown-list"
                    class="sva-main1-dropdown-list4"
                  >
                    <li
                      data-thq="thq-dropdown"
                      class="sva-main1-dropdown list-item"
                    >
                      <div
                        data-thq="thq-dropdown-toggle"
                        class="sva-main1-dropdown-toggle5"
                      >
                        <a
                          href="https://tangible.sva.us/index-ct.html"
                          target="_blank"
                          rel="noreferrer noopener"
                          class="sva-main1-chn-tw"
                        >
                          <span>繁體中文</span>
                        </a>
                      </div>
                    </li>
                    <li
                      data-thq="thq-dropdown"
                      class="sva-main1-dropdown1 list-item"
                    >
                      <div
                        data-thq="thq-dropdown-toggle"
                        class="sva-main1-dropdown-toggle6"
                      >
                        <a
                          href="https://tangible.sva.us/index-cs.html"
                          target="_blank"
                          rel="noreferrer noopener"
                          class="sva-main1-chn-cn"
                        >
                          <span>简体中文</span>
                        </a>
                      </div>
                    </li>
                    <li
                      data-thq="thq-dropdown"
                      class="sva-main1-dropdown2 list-item"
                    >
                      <div
                        data-thq="thq-dropdown-toggle"
                        class="sva-main1-dropdown-toggle7"
                      >
                        <a
                          href="https://tangible.sva.us/index-vn.html"
                          target="_blank"
                          rel="noreferrer noopener"
                          class="sva-main1-vn"
                        >
                          <span>Tiếng Việt</span>
                        </a>
                      </div>
                    </li>
                  </ul>
                </div>
              </nav>
            </div>
          </div>
        </header>
        <div class="sva-main1-video">
          <video
            poster="https://user-images.githubusercontent.com/127581878/234014994-59a598c2-7fd0-4df3-82b5-7217a5eb1aa1.png"
            class="sva-main1-video1"
          ></video>
        </div>
        <p class="sva-main1-caption">
          <br />
          <span><span>SOCIAL VENTURES</span></span>
          <br />
          <span><span>ADVISORY</span></span>
        </p>
        <h3 class="sva-main1-svaus">
          <span><span>s</span></span>
          <span><span>ina-</span></span>
          <span class="sva-main1-text09"><span>v</span></span>
          <span><span>iet-</span></span>
          <span><span>a</span></span>
          <span><span>mer</span></span>
          <span><span>.us</span></span>
        </h3>
      </div>
    </div>
  </div>
</div>
